{% extends 'base.html' %}

{% block title %}Logged Out | CounterTrak{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card stats-card">
            <div class="card-header">
                <h4>Logged Out</h4>
            </div>
            <div class="card-body text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#1e3a8a" class="bi bi-box-arrow-right mb-3" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>
                
                <h3 class="mb-3">You have been logged out</h3>
                <p class="lead mb-4">Thank you for using CounterTrak. You have been successfully logged out of your account.</p>
                
                <div class="d-grid gap-2 col-md-6 mx-auto">
                    <a href="{% url 'login' %}" class="btn btn-lg btn-ct-primary">Log In Again</a>
                    <a href="{% url 'landing' %}" class="btn btn-lg btn-outline-secondary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}